{% extends 'base.html' %}

{% block content %}
<h2>NBA Players Data</h2>
<div class="table-responsive">
    <table class="table table-hover mt-4">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Team</th>
                <th>Position</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
            <tr>
                <td>{{ player.id }}</td>
                <td>{{ player.first_name }}</td>
                <td>{{ player.last_name }}</td>
                <td>{{ player.team.full_name }}</td>
                <td>{{ player.position }}</td>
                <td>{{ player.team.city }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

